<%= search_form_for @q do |f| %>

  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>
<input type="submit" name="commit" value="Search" data-disable-with="Search" class="btn btn-info">
<% end %>
<h1>ホテルの一覧</h1>
<div class="container"> <!--左右に余白-->
		<div class="row"> <!--横並び-->
			<% @hotels.each do |hotel| %>
			<div class="col-md-3"> <!--12幅のうちの3-->
			 <div class="card">
    <img src=" <%= hotel.picture_url %>" class="card-img-top" alt="ホテルの写真">
    		  <div class="card-body">
      <h5 class="card-title"><%= hotel.name %></h5>
      <p class="card-text"><%= hotel.description %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    		  </div>
  			 </div>
	
			</div>
			<% end %>	
		</div>	
</div>